<div class="container my-4">
    <div class="row mb-3">
        <div class="col-6">
            <button class="btn btn-outline-light">🚗 HOME</button>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-outline-light wifi-btn">📶</button>
            <button class="btn btn-outline-light cloud-btn">🌐</button>

            <button id="on-btn" class="btn btn-success">All ON</button>
            <button id="off-btn" class="btn btn-light">All OFF</button>
        </div>
    </div>

    <div id="lineButtonsContainer" class="row"></div>
</div>
